SECRET_KEY = 
DEBUG = 
ALLOWED_HOSTS = 
CORS_ALLOW_ALL_ORIGINS = 

DATABASE_TYPE=
SQLITE_DB_NAME=

# PostgreSQL settings (used when DATABASE_TYPE=postgres)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=


EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD = 
DEFAULT_FROM_EMAIL = 


# Meta OAuth and Webhook configurations
META_CLIENT_ID = 
META_CLIENT_SECRET = 
META_REDIRECT_URI = 
META_FRONTEND_REDIRECT_URL = 
META_WEBHOOK_VERIFY_TOKEN = 
META_DEFAULT_STATIC_REPLY = 
